{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Quickly connect your device to Plex using plex.tv/link. Just enter the 4-digit code and stream movies in minutes. Follow this 2025 updated step-by-step link guide—works on Roku, Firestick, Smart TVs, and more.">
    <meta name="keywords" content="plex.tv/link, activate plex on smart tv, how to enter plex code, plex.tv/link roku, plex tv link firestick, plex activation 2025, link plex to tv, 4 digit plex code">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
